# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
dist/css/styles.css.map
dist/js/*.map

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.*

# Cache
.cache/
.parcel-cache/

# Logs
logs/
*.log
